
.App {
  text-align: center;
  background-color:black;
  color:lightblue;
  font-size: 15px;
}
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  align-content:left;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  display: block;
  color:lightblue;
}
.sidenav a:visited{
	color:lavenderblush;
}
.sidenav a:hover {
  color: #f1f1f1;
}
#my-face{
	filter: grayscale(40%) saturate(2) brightness(50%);
    height: 10%;
    width: 10%;
    max-width: 100%;
    background-repeat: no-repeat;
    position: relative;

}




